@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Frigorifico ABM</h1>
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group mb-3">
                            <button type="button" class="list-group-item list-group-item-action bg-primary text-dark" aria-current="true">
                                Sucursales
                            </button>
                        </li>
                        <li class="list-group mb-3">
                            <button type="button" class="list-group-item list-group-item-action bg-success text-dark" aria-current="true">
                                Distribuidores
                            </button>
                        </li>
                        <li class="list-group mb-3">
                            <button type="button" class="list-group-item list-group-item-action bg-warning text-dark" aria-current="true">
                                Productores
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @*<ul class="">
                <li class="">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                <li class="">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                </li>
            </ul>*@
    </div>
</div>
