@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Frigorifico ABM</h1>
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group mb-3">
                            <a href="@Url.Action("Index", "Sucursal")" class="list-group-item list-group-item-action bg-primary btn text-dark">Sucursales</a>
                        </li>
                        <li class="list-group mb-3">

                            <a href="@Url.Action("Index", "Distribuidor")" class="list-group-item list-group-item-action bg-success btn text-dark">Distribuidores</a>
                        </li>
                        <li class="list-group mb-3">
                            <a href="@Url.Action("Index", "Productor")"  class="list-group-item list-group-item-action bg-warning btn text-dark">Productores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
